@model CaptchaValidationSample.Request.CaptchaValidateRequest
@{
    ViewBag.Title = "Home Page";
}

<h1>Sample Captcha App</h1>

<form asp-action="Index" asp-controller="Home" method="post">
    <div class="row">
        <div class="col-6">
            <div class="input-group">
                <input type="text"
                       asp-for="FullName"
                       class="form-control"
                       placeholder="Full Name"
                       autocomplete="off"
                       minlength="4"
                       maxlength="50" />
            </div>
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-6">
            <div class="input-group">
                <input type="email"
                       asp-for="Email"
                       class="form-control"
                       placeholder="Email"
                       autocomplete="off"
                       minlength="4"
                       maxlength="50" />
            </div>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div><br />
    <div class="row">
        <div class="col-6">
            <div class="input-group">
                <input type="password"
                       asp-for="Password"
                       class="form-control"
                       placeholder="Password"
                       autocomplete="off"
                       minlength="4"
                       maxlength="20" />
            </div>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div><br />
    <div class="row">
        <div class="col-6">
            <div class="input-group">
                <div class="input-group-prepend">
                    <img id="img-captcha" src="~/Home/CaptchaImage" />
                </div>
                <input type="text"
                       asp-for="CaptchaCode"
                       class="form-control"
                       placeholder="Captcha Code"
                       autocomplete="off"
                       minlength="4"
                       maxlength="6" />
            </div>
            <span asp-validation-for="CaptchaCode" class="text-danger"></span>
        </div>
    </div><br />
    <button type="submit" class="btn btn-success">Submit</button>
</form>